# Ignore virtual environment
venv/

# Ignore model files
*.keras

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore node modules (if using Node.js somewhere in the project)
node_modules/

# Ignore logs and temp files
*.log
