absl-py
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
backcall
bcrypt
beautifulsoup4
bidict
bleach
blinker
Brotli
certifi
cffi
charset-normalizer
click
colorama
comm
convert
cryptography
cssselect2
debugpy
decorator
defusedxml
dnspython
docopt
ecdsa
email_validator
executing
fastapi
fastjsonschema
Flask
flask-cors
flasgger
flatbuffers
fonttools
fqdn
frozenlist
gast
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
html5lib
httpcore
httpx
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
ml_dtypes
MonoCipher
motor
multidict
namex
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python-headless
opt_einsum
optree
overrides
packaging
paho-mqtt
pandas
pandocfilters
parso
passlib
pexpect
pickleshare
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydyf
Pygments
pymongo
pymonocypher
pyphen
pyserial
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-engineio
python-jose
python-json-logger
python-multipart
python-nmap
python-socketio
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
Send2Trash
simple-websocket
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
utils
uvicorn
waitress
wcwidth
weasyprint
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
wsproto
yarg
yarl
zopfli
